@font-face {
  font-family: "Font";
  src: url("./Andy\ Bold.ttf");
}

#slideshow-container {
  position: relative;
  width: 30vw;
  height: 72.5vh;
  overflow: hidden;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease;
  z-index: 0;
}

.slideshow-img.active {
  opacity: 1;
  z-index: 1;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  display: flex;
  color: transparent;
  background: #211930;
  margin-right: 9em;
  padding: 1em;
  font-family: Font;
}

img {
  height: 72.5vh;
  width: 30vw;
  transition: opacity 1s ease;
  opacity: 1;
}

nav {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  min-width: 24em;
  grid-auto-rows: max-content;
}

h1 {
  font-size: 4.8vh;
  font-weight: 600;
  color: transparent;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
  text-shadow: 0 0 5px var(--text1-color);
}

h2 {
  font-size: 3.4vh;
  font-weight: 600;
  color: transparent;
  grid-column: 1/-1;
  margin-bottom: 0em;
  margin-left: 2.75em;
}

ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
}

li {
  line-height: 2em;
  margin-left: 6em;
}

li:first-child {
  display: inline-block;
  color: inherit;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  line-height: 2em;
  margin-left: 2.5em;
  text-shadow: 0 0 5px var(--text1-color);  
}

a {
  color: inherit;
  font-size: 3.2vh;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text1-color);
  text-shadow: 0 0 5px var(--text1-color); /* Optional: Adds a glow effect */
}

body,h1,h2,
.text1,
.text2,
.background {
  transition: background-color 1s ease, color 1s ease;
}